@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Aoboshi One', serif;
    font-weight: 300;
    background-color: #F9F9F9;
}

.main-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/homepage_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}