.scoreboard {
    list-style: none;
    color: #d8f3f8;
    background-color: rgba(255, 228, 196, 0.154);
    border-radius: 20px;
    outline: 1px solid black;
}

.scoreboard li {
    font-size: 3rem;
}

.table-wrapper span {
    margin: 1.2rem;
}