.scorepage-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/scorepage_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.table-wrapper {
    display: flex;
    position: absolute;
    top: 29%;
    right: 33%;
}

.table-wrapper span {
    margin: 1rem;
}